@import url('https://fonts.googleapis.com/css?family=IM+Fell+English|Lato');

/*font-family: 'Lato', sans-serif;
font-family: 'IM Fell English', serif;
*/

body {
    background: url("images/bricks.jpg") no-repeat center center fixed;
    background-size: cover;
}

h1 {
    text-align: left;
    font-family: 'IM Fell English', serif;
    letter-spacing: 1px;
    margin-left: 10%;
    font-size: 2.5em;
    color: #C16022;
}

h2 {
    font-family: 'Lato', sans-serif;
    text-align: left;
    margin-left: 12%;
}

h3 {
    font-family: 'Lato', sans-serif;
    display: inline;
}

p {
    font-family: 'Lato', sans-serif;
    display: inline;
}

a { 
    text-decoration: none;
}

ul {
    margin-left: 14%;
}

li {
    text-align: justify;
    font-family: 'Lato', sans-serif;
    font-size: 1.4em;
}

/********** CONTENT CONTAINER **********/
.white {
    background-color: #fff;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3%;
    padding-bottom: 10%;
    border-radius: 4px;
    text-align: center;
    background: url("images/newspaper.jpg");
    background-size: cover;
}

/********** HEADER LOGO **********/
.logo {
    height: 180px;
    width: auto;
    margin-top: 10%;
    margin-left: 20px;
    margin-right: 20px;
}

/********** FLEX BOX **********/
.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/********** FOOTER **********/
.bottom {
    color: white;
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 1%;
    margin-bottom: 1%;
    font-weight: 800;
    font-size: 1.1em;
    background-color: black;
    padding: 8px;
    border-radius: 4px;
}

.bottom a:visited {
    color: white;
}

.bottom a:hover {
    color: #C78E7D;
}

/********** BACK TO TOP BUTTON **********/
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 5%; /* Place the button at the bottom of the page */
    right: 7%; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    background-color: transparent;
}

#myBtn:hover {
    
}

/********** Dropdown Button **********/
.dropbtn {
    background-color: transparent;
    border: none;
    font-family: 'IM Fell English', serif;
    color: #191818; 
    font-size: 1.3em;
    transition: 0.4s;
    padding: 0 26px;
    text-align: center;
    width: 9em;
}

.dropbtn {
    color: #191818;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    font-family: 'Lato', sans-serif;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 1%;  
    text-align: center;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 188px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: center;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 0px;
    text-decoration: none;
    display: block;
    text-align: center;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
    text-align: center;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
    background-color: white;
    text-align: center;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #fff;
    color: #958326;
    padding: 18px 26px;
    border-radius: 4px;
    text-align: center;
}

.dropbtn a:visited {
    color: #191818;
}

.dropbtn a:hover {
    color: #958326;
}

/********** GOOGLE MAP **********/
.donationmap {
    text-align: left;
    width: 60%;
    height: 500px;
    float: left;
    margin-left: 12%;
    border: 5px solid white;
}

.mapouter {
    text-align: right;
    width: 60%;
    height: 500px;
    float: right;
    margin-right: 5%;
    border: 5px solid white;
}

.gmap_canvas {
    overflow:hidden;
    background:none!important;
    width: 100%;
    height: 500px;
}

/********** DESCRIPTIONS **********/
.info {
    margin-left: 10%;
    margin-right: 5%;
}

.desc {
    margin-left: 10%;
    margin-right: 10%;
}

/********** TEAM BIOS **********/
.grid {
    margin-left: 5%;
    margin-right: 5%;
}

.bio {
    margin-left: 7%;
    margin-right: 7%;
}

.picture {
 margin-left: 3%;
 margin-right: 3%;
}